<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %logger - %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="INFO">
      <AppenderRef ref="Console"/>
    </Root>
    <Logger name="org.example.artemis" level="DEBUG"/>
    <Logger name="org.springframework" level="INFO"/>
    <Logger name="org.apache.activemq" level="INFO"/>
  </Loggers>
</Configuration>
